<aside>

<div class="radius b20 center">
<div style="border: 1px grey solid;"><a href="{{ site.url }}/downloads">
{% assign stable = (site.data.releases | where:"status", "stable" | first) %}
Latest release: {{ stable.version }} ({{ stable.date }})<br>
<span class="icon-archive" style="font-size: 400%;"></span><br>
Download now!</a>
</div>
</div>

<div class="radius b20" style="border: solid grey 1px;">
<!--  
<p style="text-align: center; background: orange;">
Meet us at <br/> 
<a href="https://www.esciencecenter.nl/ieee-escience-conference-2018">IEEE eScience Conference 2018</a> <br/> 
in Amsterdam, Netherlands (29. Oct-1. Nov 2018)
</p>
-->
<p style="text-align: center;">
Our latest poster at <br/> 
<a href="https://www.digitalinfrastructures.eu">Digital Infrastructures for Research (DI4R)</a> <br/>
in Lisbon, Portugal (9.-11. Oct 2018)</p>
<p class="center">
<a href="{{ site.url }}/publications/INCEpTION-DI4R-Poster.pdf"><img width="200" src="{{ site.url }}/publications/INCEpTION-DI4R-Poster-thumb.png"/></a>
</p>
<p style="text-align: center;">
... or see our <a href="{{ site.url }}/publications/">latest publications</a>
<p>
<!--  
<p style="text-align: center;">
Meet us next at <br/> 
<a href="http://emnlp2018.org">2018 Conference on Empirical Methods in Natural Language Processing</a> <br/> 
October 31–November 4, Brussels, Belgium
</p>
-->
</div>

<div class="radius b20">
<p class="center"><img src="{{ site.url }}/images/logos/tud_logo.gif"/></p>
<p class="center"><img width="175" src="{{ site.url }}/images/logos/ukp-lab.png"/></p>
<p class="center"><img width="175" src="{{ site.url }}/images/logos/dfg_logo_schriftzug_blau_foerderung.jpg"/></p>
</div>

</aside>
